* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    background: #fafafa;
    color: #677B96;
    font-family: "Verdana", sans-serif;
    font-size: 12px;
    overflow-x: hidden;
    max-width: none;
}

header {
    color: white;
    font-family: "Open Sans Condensed", sans-serif;
    font-weight 300;
    font-size: 40px;

    background-color: #1F3543;
    background-size: 100% auto, cover;
    background-position: center bottom, center center;
    background-image:  url(../imgs/hero-bg.jpg);
    background-repeat: no-repeat;
    font-size: 40px;
    text-align: center;
    padding-top: 48px;
    padding-bottom: 200px;
    margin-bottom: 0;

    position: relative;
}

header h1 {
    float: none;
    margin: 0 auto;
}

header h1 {
    display: block;
    text-indent: -9999px;
    white-space: nowrap;
    overflow: hidden;
    
    height: 103px;
    width: 172px;
    margin-bottom: 36px;
    background-image: url(../imgs/logo.png)
}

header p {
    text-transform: uppercase;
    width: 57.7464788732%;
    float: none;
    margin-right: 1.4084507042%;
    margin: 0 auto;
    min-width: 768px;
}

.sawtooth-core {
    background-color: #fafafa;
    background-image: url(../imgs/distributed-ledgers.png);
    background-repeat: no-repeat;
    background-position: center left 50%;
    background-size: cover;
    padding-top: 105px;
    padding-bottom: 105px;
}

.sawtooth-core article {
    width: 74.6478873239%;
    /* float: left; */
    /* margin-right: 1.4084507042%; */
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    float: none;
    margin: 0 auto;
    min-width: 960px;
}

.sawtooth-core article h2 {
    color: #98A386;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 42px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.sawtooth-core article .links {
    margin-bottom: 20px;
    /* font-family: "Verdana", sans-serif; */
    /* font-size: 16px; */
    list-style: none;
    color: #797979;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 19px;
}

.sawtooth-core article .links a {
    color: #797979;
    text-decoration: none;
}

.footer {
    background-image: url(../imgs/logo-dark@2x.png);
    -webkit-background-size: 77px 77px;
    -moz-background-size: 77px 77px;
    -o-background-size: 77px 77px;
    background-size: 77px 77px;
    /* background-image: url(../imgs/logo-dark.png); */
    background-repeat: no-repeat;
    background-position: center 60px;
    background-color: #242D38;
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer footer {
    width: 74.6478873239%;
    float: left;
    margin-right: 1.4084507042%;
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    float: none;
    margin: 0 auto;
    margin-top: 96px;
    margin-bottom: 40px;
    min-width: 960px;
}

.footer footer h2 {
    color: #D8D8D8;
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: 300;
    font-size: 24px;
    margin-bottom: 12px;
    text-transform: uppercase;
}

.footer footer .links {
    font-family: "Verdana", sans-serif;
    font-size: 12px;
    list-style: none;
    margin-top: 45px;
}

.footer footer .contact-links {
    font-family: "Verdana", sans-serif;
    font-weight: bold;
    font-size: 11px;
    list-style: none;
}

.footer footer .contact-links li.rocket-chat:before {
    display: block;
    height: 16px;
    overflow: hidden;
    text-indent: -9999px;
    white-space: nowrap;
    width: 18px;
    background-image: url(../imgs/rocketchat-icon.png);
    content: ".";
    float: left;
    margin-top: -1px;
    margin-right: 9px;
}

.footer footer .contact-links a {
    color: #6B7888;
    text-decoration: none;
}

.footer footer .links {
    font-family: "Verdana", sans-serif;
    font-size: 12px;
    list-style: none;
    margin-top: 45px;
}
.footer footer .links::after {
    clear: both;
    content: "";
    display: table;
}

.footer footer .links li:first-child  {
    margin-left: 0;
}

.footer footer .links li {
    float: left;
    margin-left: 35px;
}

.footer footer .links a {
    color: #6D7A8A;
    text-decoration: none;
}

.footer footer .copyright {
    color: #4C545E;
    display: block;
    font-family: "Verdana", sans-serif;
    font-size: 9px;
    margin-top: 15px;
}

.footer footer:after {
    content: " ";
    display: block;
    clear: both;
}
