* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-transition: all 0.35s ease-out;
  -moz-transition: all 0.35s ease-out;
  -o-transition: all 0.35s ease-out;
  transition: all 0.35s ease-out; }

body {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  background: #fafafa;
  color: #677B96;
  font-family: "Verdana", sans-serif;
  font-size: 12px;
  overflow-x: hidden;
  max-width: none; }
  body:after {
    content: " ";
    display: block;
    clear: both; }

.coming-soon a,
.disabled {
  cursor: default; }

header, .overview article h2, .solution article .how-it-works h3, .solution article .how-it-works li:before {
  color: white;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 300;
  margin-bottom: 32px;
  text-transform: uppercase; }

header h2, .overview article, .challenges article h2, .challenges article h3, .solution article h2, .demos article h2, .demos article ul li h3, .contact article h2, .contact article .mailing-list h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  margin-bottom: 32px;
  text-transform: uppercase; }

.featured-resources li.docs a, .solution article .get-started .docs a, .featured-resources li.demo a, .solution article .get-started .demo a, .overview article .button, .many-use-cases article .button, .demos article ul li a, .contact article .button {
  color: white;
  display: block;
  background: #67A8FE;
  border-radius: 7px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 20px;
  width: 300px; }
  .featured-resources li.docs a:hover, .solution article .get-started .docs a:hover, .featured-resources li.demo a:hover, .solution article .get-started .demo a:hover, .overview article .button:hover, .many-use-cases article .button:hover, .demos article ul li a:hover, .contact article .button:hover {
    background: #3e91fe; }

.featured-resources li.docs a, .solution article .get-started .docs a, .featured-resources li.demo a, .solution article .get-started .demo a {
  background: #F4A018;
  position: relative; }
  .featured-resources li.docs a:before, .solution article .get-started .docs a:before, .featured-resources li.demo a:before, .solution article .get-started .demo a:before {
    content: ".";
    position: absolute;
    top: 50%; }
  .featured-resources li.docs a:hover, .solution article .get-started .docs a:hover, .featured-resources li.demo a:hover, .solution article .get-started .demo a:hover {
    background: #FFBD61; }

.featured-resources li.docs a, .solution article .get-started .docs a {
  padding-left: 68px; }
  .featured-resources li.docs a:before, .solution article .get-started .docs a:before {
    display: block;
    height: 39px;
    overflow: hidden;
    text-indent: -9999px;
    white-space: nowrap;
    width: 47px;
    background-image: url("../../img/docs-icon.png");
    left: 44px;
    margin-top: -19px; }
    @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
      .featured-resources li.docs a:before, .solution article .get-started .docs a:before {
        background-image: url("../../img/docs-icon@2x.png");
        -webkit-background-size: 47px 39px;
        -moz-background-size: 47px 39px;
        -o-background-size: 47px 39px;
        background-size: 47px 39px; } }

.featured-resources li.demo a, .solution article .get-started .demo a {
  padding-left: 60px; }
  .featured-resources li.demo a:before, .solution article .get-started .demo a:before {
    display: block;
    height: 47px;
    overflow: hidden;
    text-indent: -9999px;
    white-space: nowrap;
    width: 37px;
    background-image: url("../../img/demo-icon.png");
    left: 30px;
    margin-top: -23px; }
    @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
      .featured-resources li.demo a:before, .solution article .get-started .demo a:before {
        background-image: url("../../img/demo-icon@2x.png");
        -webkit-background-size: 37px 47px;
        -moz-background-size: 37px 47px;
        -o-background-size: 37px 47px;
        background-size: 37px 47px; } }

header {
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  font-size: 52px;
  margin-bottom: 0;
  padding-top: 120px;
  padding-bottom: 185px;
  position: relative;
  text-align: center; }
  header h1 {
    width: 49.2957746479%;
    float: left;
    margin-right: 1.4084507042%;
    float: none;
    margin: 0 auto; }
  header h1 a {
    display: block;
    height: 26px;
    overflow: hidden;
    text-indent: -9999px;
    white-space: nowrap;
    width: 150px;
    background-image: url("../../img/logo-inline.png");
    float: none;
    left: 43px;
    position: absolute;
    top: 40px; }
    @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
      header h1 a {
        background-image: url("../../img/logo-inline@2x.png");
        -webkit-background-size: 150px 26px;
        -moz-background-size: 150px 26px;
        -o-background-size: 150px 26px;
        background-size: 150px 26px; } }
  header h2 {
    width: 49.2957746479%;
    float: left;
    margin-right: 1.4084507042%;
    float: none;
    font-size: 24px;
    font-weight: 600;
    margin: 0 auto 20px; }
    header h2:before {
      content: ".";
      margin: 0 auto 20px; }
  header p {
    width: 57.7464788732%;
    float: left;
    margin-right: 1.4084507042%;
    float: none;
    margin: 0 auto;
    min-width: 768px;
    text-transform: none; }

.featured-resources {
  padding: 50px 0;
  position: relative; }
  .featured-resources iframe {
    border: none; }
  .featured-resources article {
    width: 74.6478873239%;
    float: left;
    margin-right: 1.4084507042%;
    float: none;
    margin: 0 auto;
    min-width: 960px;
    text-align: center; }
  .featured-resources h2 {
    display: none; }
  .featured-resources li {
    display: inline-block;
    margin: 0 8px;
    text-align: center; }
    .featured-resources li.docs a.disabled {
      display: none; }
    .featured-resources li.demo a.disabled {
      display: none; }

.overview {
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  padding-top: 90px;
  padding-bottom: 90px; }
  .overview article {
    width: 74.6478873239%;
    float: left;
    margin-right: 1.4084507042%;
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    float: none;
    font-size: 26px;
    margin: 0 auto;
    min-width: 960px;
    text-align: center;
    text-transform: none; }
    .overview article:after {
      content: " ";
      display: block;
      clear: both; }
    .overview article h2 {
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0;
      font-size: 60px; }
    .overview article p {
      width: 77.358490566%;
      float: left;
      margin-right: 1.8867924528%;
      margin-left: 11.320754717%;
      line-height: 2em; }
    .overview article .button {
      margin: 3em auto 0;
      padding: 10px 20px 10px 72px;
      position: relative; }
      .overview article .button:before {
        display: block;
        height: 38px;
        overflow: hidden;
        text-indent: -9999px;
        white-space: nowrap;
        width: 38px;
        background-image: url("../../img/github-icon.png");
        content: ".";
        left: 40px;
        margin-top: -19px;
        position: absolute;
        top: 50%; }
        @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
          .overview article .button:before {
            background-image: url("../../img/github-icon@2x.png");
            -webkit-background-size: 38px 38px;
            -moz-background-size: 38px 38px;
            -o-background-size: 38px 38px;
            background-size: 38px 38px; } }

.challenges {
  background-color: #F1F1F1;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center center;
  padding-top: 90px;
  padding-bottom: 80px; }
  .challenges article {
    width: 74.6478873239%;
    float: left;
    margin-right: 1.4084507042%;
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    float: none;
    font-size: 13px;
    margin: 0 auto;
    min-width: 960px;
    text-transform: none; }
    .challenges article:after {
      content: " ";
      display: block;
      clear: both; }
    .challenges article h2 {
      width: 54.7169811321%;
      float: left;
      margin-right: 1.8867924528%;
      margin-left: 22.641509434%;
      color: #F4A018;
      font-size: 34px;
      margin-bottom: 44px;
      text-align: center; }
    .challenges article h3 {
      font-size: 22px;
      text-transform: none; }
      .challenges article h3 b {
        display: block;
        font-weight: 600; }
    .challenges article ul {
      width: 49.0566037736%;
      float: left;
      margin-right: 1.8867924528%;
      margin-left: 25.4716981132%;
      line-height: 1.75em; }
      .challenges article ul li {
        margin-bottom: 1.75em; }

.solution {
  background-color: #1F3543;
  background-repeat: no-repeat;
  background-position: 11% 115%;
  color: white;
  padding: 90px 0; }
  .solution article {
    width: 74.6478873239%;
    float: left;
    margin-right: 1.4084507042%;
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    float: none;
    margin: 0 auto;
    min-width: 960px; }
    .solution article:after {
      content: " ";
      display: block;
      clear: both; }
    .solution article h2 {
      width: 43.3962264151%;
      float: left;
      margin-right: 1.8867924528%;
      margin-left: 28.3018867925%;
      color: white;
      font-size: 32px;
      margin-bottom: 80px;
      text-align: center; }
    .solution article .how-it-works {
      background-position: center top;
      background-repeat: no-repeat;
      clear: both;
      margin: 0 auto;
      margin-bottom: 130px;
      position: relative;
      width: 868px; }
      .solution article .how-it-works h3 {
        color: #F4A018;
        font-size: 28px;
        left: 5%;
        position: absolute;
        text-transform: none;
        top: 5.25%; }
      .solution article .how-it-works ol {
        counter-reset: item;
        list-style: none; }
      .solution article .how-it-works li {
        counter-increment: item;
        font-size: 17px;
        position: absolute; }
        .solution article .how-it-works li:nth-child(1) {
          left: 22%;
          top: 16%; }
        .solution article .how-it-works li:nth-child(2) {
          left: 71%;
          top: 16%; }
        .solution article .how-it-works li:nth-child(3) {
          left: 41%;
          top: 48%; }
        .solution article .how-it-works li:nth-child(4) {
          left: 11%;
          top: 79%; }
        .solution article .how-it-works li:nth-child(5) {
          left: 78%;
          top: 85%; }
      .solution article .how-it-works li:before {
        content: counter(item) ".";
        display: inline-block;
        font-size: 43px;
        margin-right: 10px; }
    .solution article .advantages {
      width: 49.0566037736%;
      float: left;
      margin-right: 1.8867924528%; }
      .solution article .advantages h3 {
        font-family: "Open Sans", sans-serif;
        font-weight: 300;
        font-size: 32px;
        margin-bottom: 43px; }
        .solution article .advantages h3 b {
          display: block;
          font-weight: 700; }
      .solution article .advantages ul {
        font-family: "Verdana", sans-serif;
        font-size: 16px;
        list-style: none; }
        .solution article .advantages ul li {
          position: relative;
          margin-bottom: 25px;
          padding-left: 73px; }
          .solution article .advantages ul li:before {
            display: block;
            height: 32px;
            overflow: hidden;
            text-indent: -9999px;
            white-space: nowrap;
            width: 35px;
            background-image: url("../../img/tick-icon.png");
            content: ".";
            left: 0px;
            margin-top: -16px;
            position: absolute;
            top: 50%; }
            @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
              .solution article .advantages ul li:before {
                background-image: url("../../img/tick-icon@2x.png");
                -webkit-background-size: 35px 32px;
                -moz-background-size: 35px 32px;
                -o-background-size: 35px 32px;
                background-size: 35px 32px; } }
    .solution article .get-started {
      width: 32.0754716981%;
      float: left;
      margin-right: 1.8867924528%;
      float: right;
      margin-right: 0; }
      .solution article .get-started.disabled {
        display: none; }
      .solution article .get-started h4 {
        color: white;
        font-family: "Open Sans", sans-serif;
        font-weight: 300;
        font-size: 20px;
        margin-bottom: 61px;
        text-transform: uppercase; }
        .solution article .get-started h4:after {
          display: block;
          height: 15px;
          overflow: hidden;
          text-indent: -9999px;
          white-space: nowrap;
          width: 21px;
          background-image: url("../../img/white-double-arrow-icon.png");
          content: ".";
          display: inline-block;
          margin-top: 4px;
          margin-right: 44px;
          margin-left: 10px; }
          @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
            .solution article .get-started h4:after {
              background-image: url("../../img/white-double-arrow-icon@2x.png");
              -webkit-background-size: 21px 15px;
              -moz-background-size: 21px 15px;
              -o-background-size: 21px 15px;
              background-size: 21px 15px; } }
      .solution article .get-started ul {
        list-style: none; }
        .solution article .get-started ul li {
          margin-bottom: 15px; }
      .solution article .get-started .docs a {
        width: 100%; }
        .solution article .get-started .docs a.disabled {
          display: none; }
      .solution article .get-started .demo a {
        width: 100%; }
        .solution article .get-started .demo a.disabled {
          display: none; }

.many-use-cases {
  background-color: #EBEFF5;
  background-image: url("../../img/distributed-ledgers-blue.png");
  background-repeat: no-repeat;
  background-position: center left 50%;
  background-size: cover;
  padding-top: 105px;
  padding-bottom: 105px; }
  .many-use-cases article {
    width: 74.6478873239%;
    float: left;
    margin-right: 1.4084507042%;
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    float: none;
    margin: 0 auto;
    min-width: 960px; }
    .many-use-cases article:after {
      content: " ";
      display: block;
      clear: both; }
    .many-use-cases article h2 {
      background-image: url("../../img/many-use-case-icons.png");
      width: 66.0377358491%;
      float: left;
      margin-right: 1.8867924528%;
      background-repeat: no-repeat;
      background-position: left top;
      color: #7ABCE4;
      font-family: "Open Sans", sans-serif;
      font-weight: 300;
      font-size: 42px;
      margin-bottom: 20px;
      padding-top: 57px;
      text-transform: uppercase; }
      @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
        .many-use-cases article h2 {
          background-image: url("../../img/many-use-case-icons@2x.png");
          -webkit-background-size: 592px 36px;
          -moz-background-size: 592px 36px;
          -o-background-size: 592px 36px;
          background-size: 592px 36px; } }
    .many-use-cases article h3 {
      clear: both;
      width: 66.0377358491%;
      float: left;
      margin-right: 1.8867924528%;
      color: #7ABCE4;
      font-family: "Open Sans", sans-serif;
      font-weight: 400;
      font-size: 23px;
      margin-bottom: 25px; }
    .many-use-cases article h4 {
      clear: both;
      width: 43.3962264151%;
      float: left;
      margin-right: 1.8867924528%;
      color: #7ABCE4;
      font-family: "Open Sans", sans-serif;
      font-weight: 600;
      font-size: 14px;
      margin-bottom: 33px;
      text-transform: uppercase; }
      .many-use-cases article h4:after {
        display: block;
        height: 11px;
        overflow: hidden;
        text-indent: -9999px;
        white-space: nowrap;
        width: 17px;
        background-image: url("../../img/blue-double-arrow-icon.png");
        content: ".";
        display: inline-block;
        margin-top: 4px;
        margin-right: 44px;
        margin-left: 10px; }
        @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
          .many-use-cases article h4:after {
            background-image: url("../../img/blue-double-arrow-icon@2x.png");
            -webkit-background-size: 17px 11px;
            -moz-background-size: 17px 11px;
            -o-background-size: 17px 11px;
            background-size: 17px 11px; } }
    .many-use-cases article p {
      width: 51.8867924528%;
      float: left;
      margin-right: 1.8867924528%;
      color: #677B96;
      font-family: "Verdana", sans-serif;
      font-size: 14px;
      line-height: 2.75em;
      margin-bottom: 33px; }
    .many-use-cases article .button {
      clear: both;
      padding-left: 72px;
      position: relative; }
      .many-use-cases article .button:before {
        display: block;
        height: 37px;
        overflow: hidden;
        text-indent: -9999px;
        white-space: nowrap;
        width: 28px;
        background-image: url("../../img/documentation-icon.png");
        content: ".";
        left: 51px;
        margin-top: -18px;
        position: absolute;
        top: 50%; }
        @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
          .many-use-cases article .button:before {
            background-image: url("../../img/documentation-icon@2x.png");
            -webkit-background-size: 28px 37px;
            -moz-background-size: 28px 37px;
            -o-background-size: 28px 37px;
            background-size: 28px 37px; } }

.demos {
  padding-top: 85px;
  padding-bottom: 85px; }
  .demos article {
    width: 74.6478873239%;
    float: left;
    margin-right: 1.4084507042%;
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    float: none;
    margin: 0 auto;
    min-width: 960px; }
    .demos article:after {
      content: " ";
      display: block;
      clear: both; }
    .demos article h2 {
      width: 29.2452830189%;
      float: left;
      margin-right: 1.8867924528%;
      font-size: 13px;
      margin-top: 150px; }
      .demos article h2 b {
        color: #B0C3DD;
        display: block;
        font-size: 25px;
        font-weight: 300;
        margin-bottom: 2px; }
    .demos article ul {
      width: 63.2075471698%;
      float: left;
      margin-right: 1.8867924528%;
      float: right;
      margin-right: 0;
      font-size: 11px;
      list-style: none;
      max-width: 700px;
      margin-left: auto;
      margin-right: auto; }
      .demos article ul:after {
        content: " ";
        display: block;
        clear: both; }
      .demos article ul li {
        width: 48.5714285714%;
        float: left;
        margin-right: 2.8571428571%;
        display: block;
        padding: 2px; }
        .demos article ul li:last-child {
          float: right;
          margin-right: 0; }
        .demos article ul li.seafood,
        .demos article ul li.seafood h3 {
          background-image: linear-gradient(34deg, #2F5EA5 0%, #009DAA 100%); }
        .demos article ul li.bond,
        .demos article ul li.bond h3 {
          background-image: linear-gradient(37deg, #006F74 0%, #7DB47C 100%); }
        .demos article ul li.marketplace,
        .demos article ul li.marketplace h3 {
          background-image: linear-gradient(33deg, #513F92 0%, #966B99 100%); }
        .demos article ul li div {
          background: #fafafa;
          height: 350px;
          padding-top: 28px;
          position: relative; }
        .demos article ul li h3 {
          color: white;
          font-size: 11px;
          font-weight: 600;
          margin-bottom: 0;
          overflow: hidden;
          padding: 38px 12px;
          position: relative;
          text-align: center; }
          .demos article ul li h3 b {
            display: block;
            font-size: 21px;
            font-weight: 700; }
          .demos article ul li h3:before {
            top: 15px;
            content: ".";
            left: 50%;
            margin-left: -133px;
            position: absolute; }
          .demos article ul li h3:after {
            display: block;
            height: 5px;
            overflow: hidden;
            text-indent: -9999px;
            white-space: nowrap;
            width: 266px;
            background-image: url("../../img/demo-headline-line-wide.png");
            bottom: 20px;
            content: ".";
            left: 50%;
            margin-left: -133px;
            position: absolute; }
            @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
              .demos article ul li h3:after {
                background-image: url("../../img/demo-headline-line-wide@2x.png");
                -webkit-background-size: 266px 5px;
                -moz-background-size: 266px 5px;
                -o-background-size: 266px 5px;
                background-size: 266px 5px; } }
        .demos article ul li.seafood h3:before {
          display: block;
          height: 14px;
          overflow: hidden;
          text-indent: -9999px;
          white-space: nowrap;
          width: 266px;
          background-image: url("../../img/demo-headline-seafood-wide.png"); }
          @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
            .demos article ul li.seafood h3:before {
              background-image: url("../../img/demo-headline-seafood-wide@2x.png");
              -webkit-background-size: 266px 14px;
              -moz-background-size: 266px 14px;
              -o-background-size: 266px 14px;
              background-size: 266px 14px; } }
        .demos article ul li.bond h3:before {
          display: block;
          height: 21px;
          overflow: hidden;
          text-indent: -9999px;
          white-space: nowrap;
          width: 266px;
          background-image: url("../../img/demo-headline-bond-wide.png");
          top: 9px; }
          @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
            .demos article ul li.bond h3:before {
              background-image: url("../../img/demo-headline-bond-wide@2x.png");
              -webkit-background-size: 266px 21px;
              -moz-background-size: 266px 21px;
              -o-background-size: 266px 21px;
              background-size: 266px 21px; } }
        .demos article ul li.marketplace h3:before {
          display: block;
          height: 25px;
          overflow: hidden;
          text-indent: -9999px;
          white-space: nowrap;
          width: 266px;
          background-image: url("../../img/demo-headline-marketplace-wide.png");
          top: 8px; }
          @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
            .demos article ul li.marketplace h3:before {
              background-image: url("../../img/demo-headline-marketplace-wide@2x.png");
              -webkit-background-size: 266px 25px;
              -moz-background-size: 266px 25px;
              -o-background-size: 266px 25px;
              background-size: 266px 25px; } }
        .demos article ul li p {
          line-height: 2em;
          margin: 18px 6%; }
        .demos article ul li.seafood a {
          background: #177AA3; }
          .demos article ul li.seafood a:hover {
            background: #00a0e3; }
        .demos article ul li.bond a {
          background: #368D78; }
          .demos article ul li.bond a:hover {
            background: #19aa87; }
        .demos article ul li.marketplace a {
          background: #6D5195; }
          .demos article ul li.marketplace a:hover {
            background: #916cc7; }
        .demos article ul li a {
          border-radius: 2px;
          bottom: 0;
          font-size: 12px;
          margin: 0 6% 18px;
          padding: 10px 28px 10px 20px;
          position: absolute;
          text-align: left;
          width: 88%; }
          .demos article ul li a:after {
            display: block;
            height: 13px;
            overflow: hidden;
            text-indent: -9999px;
            white-space: nowrap;
            width: 8px;
            background-image: url("../../img/arrow-right.png");
            content: ".";
            margin-top: -7px;
            position: absolute;
            right: 15px;
            top: 50%; }
            @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
              .demos article ul li a:after {
                background-image: url("../../img/arrow-right@2x.png");
                -webkit-background-size: 8px 13px;
                -moz-background-size: 8px 13px;
                -o-background-size: 8px 13px;
                background-size: 8px 13px; } }
          .demos article ul li a.disabled {
            background: #D8D8D8;
            text-align: center; }
            .demos article ul li a.disabled:after {
              display: none; }
            .demos article ul li a.disabled:hover {
              background: #d0d0d0; }

.contact {
  background: #414C5A;
  padding-top: 105px;
  padding-bottom: 105px; }
  .contact article {
    width: 74.6478873239%;
    float: left;
    margin-right: 1.4084507042%;
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    float: none;
    margin: 0 auto;
    min-width: 960px; }
    .contact article:after {
      content: " ";
      display: block;
      clear: both; }
    .contact article h2 {
      width: 49.0566037736%;
      float: left;
      margin-right: 1.8867924528%;
      color: #B0C3DD;
      font-size: 33px;
      margin-bottom: 10px; }
    .contact article p {
      clear: both;
      width: 43.3962264151%;
      float: left;
      margin-right: 1.8867924528%;
      color: white;
      font-family: "Open Sans", sans-serif;
      font-weight: 300;
      font-size: 16px;
      margin-bottom: 39px; }
    .contact article .button {
      clear: both;
      width: 32.0754716981%;
      float: left;
      margin-right: 1.8867924528%;
      position: relative;
      padding-left: 72px; }
      .contact article .button:before {
        display: block;
        height: 30px;
        overflow: hidden;
        text-indent: -9999px;
        white-space: nowrap;
        width: 32px;
        background-image: url("../../img/contact-icon.png");
        content: ".";
        left: 68px;
        margin-top: -16px;
        position: absolute;
        top: 50%; }
        @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
          .contact article .button:before {
            background-image: url("../../img/contact-icon@2x.png");
            -webkit-background-size: 32px 30px;
            -moz-background-size: 32px 30px;
            -o-background-size: 32px 30px;
            background-size: 32px 30px; } }
    .contact article .email noscript {
      display: block;
      font-size: 10px; }
    .contact article .mailing-list {
      width: 36.6197183099%;
      float: left;
      margin-right: 1.4084507042%;
      float: right;
      margin-right: 0;
      max-width: 520px;
      margin-left: auto;
      margin-right: auto;
      background: #535F6F;
      border-radius: 7px;
      margin-top: -113px;
      padding: 12px; }
      .contact article .mailing-list:after {
        content: " ";
        display: block;
        clear: both; }
      .contact article .mailing-list h3 {
        width: 100%;
        float: left;
        margin-left: 0;
        margin-right: 0;
        color: #B0C3DD;
        font-weight: 600;
        font-size: 21px;
        margin-bottom: 8px;
        text-transform: uppercase;
        text-align: center; }
      .contact article .mailing-list p {
        width: 88.4615384615%;
        float: left;
        margin-right: 3.8461538462%;
        color: #A6B0BE;
        font-size: 16px;
        float: none;
        margin: 0 auto;
        margin-bottom: 20px;
        text-align: center; }
      .contact article .mailing-list .button {
        width: 100%;
        float: left;
        margin-left: 0;
        margin-right: 0;
        background-color: #4C73A8;
        padding-left: 72px; }
        .contact article .mailing-list .button:before {
          display: block;
          height: 34px;
          overflow: hidden;
          text-indent: -9999px;
          white-space: nowrap;
          width: 38px;
          background-image: url("../../img/checked-icon.png");
          content: ".";
          left: 100px;
          margin-top: -16px;
          position: absolute;
          top: 50%; }
          @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
            .contact article .mailing-list .button:before {
              background-image: url("../../img/checked-icon@2x.png");
              -webkit-background-size: 38px 34px;
              -moz-background-size: 38px 34px;
              -o-background-size: 38px 34px;
              background-size: 38px 34px; } }
        .contact article .mailing-list .button:hover {
          background-color: #346fc0; }

.footer {
  background-image: url("../../img/logo-dark.png");
  background-repeat: no-repeat;
  background-position: center 60px;
  background-color: #242D38;
  padding-top: 60px;
  padding-bottom: 60px; }
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .footer {
      background-image: url("../../img/logo-dark@2x.png");
      -webkit-background-size: 77px 77px;
      -moz-background-size: 77px 77px;
      -o-background-size: 77px 77px;
      background-size: 77px 77px; } }
  .footer footer {
    width: 74.6478873239%;
    float: left;
    margin-right: 1.4084507042%;
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    float: none;
    margin: 0 auto;
    margin-top: 96px;
    margin-bottom: 40px;
    min-width: 960px; }
    .footer footer:after {
      content: " ";
      display: block;
      clear: both; }
    .footer footer h2 {
      color: #D8D8D8;
      font-family: "Open Sans Condensed", sans-serif;
      font-weight: 300;
      font-size: 24px;
      margin-bottom: 12px;
      text-transform: uppercase; }
    .footer footer .contact-links {
      font-family: "Verdana", sans-serif;
      font-weight: bold;
      font-size: 11px;
      list-style: none; }
      .footer footer .contact-links li {
        margin-bottom: 12px; }
        .footer footer .contact-links li.email:before {
          display: block;
          height: 10px;
          overflow: hidden;
          text-indent: -9999px;
          white-space: nowrap;
          width: 15px;
          background-image: url("../../img/email-icon.png");
          content: ".";
          float: left;
          margin-top: 2px;
          margin-right: 12px; }
          @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
            .footer footer .contact-links li.email:before {
              background-image: url("../../img/email-icon@2x.png");
              -webkit-background-size: 15px 10px;
              -moz-background-size: 15px 10px;
              -o-background-size: 15px 10px;
              background-size: 15px 10px; } }
        .footer footer .contact-links li.rocket-chat:before {
          display: block;
          height: 16px;
          overflow: hidden;
          text-indent: -9999px;
          white-space: nowrap;
          width: 18px;
          background-image: url("../../img/rocketchat-icon.png");
          content: ".";
          float: left;
          margin-top: -1px;
          margin-right: 9px; }
          @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
            .footer footer .contact-links li.rocket-chat:before {
              background-image: url("../../img/rocketchat-icon@2x.png");
              -webkit-background-size: 18px 16px;
              -moz-background-size: 18px 16px;
              -o-background-size: 18px 16px;
              background-size: 18px 16px; } }
      .footer footer .contact-links a {
        color: #6B7888;
        text-decoration: none; }
        .footer footer .contact-links a:hover {
          text-decoration: underline; }
    .footer footer .links {
      font-family: "Verdana", sans-serif;
      font-size: 12px;
      list-style: none;
      margin-top: 45px; }
      .footer footer .links::after {
        clear: both;
        content: "";
        display: table; }
      .footer footer .links li {
        float: left;
        margin-left: 35px; }
        .footer footer .links li:first-child {
          margin-left: 0; }
      .footer footer .links a {
        color: #6D7A8A;
        text-decoration: none; }
        .footer footer .links a:hover {
          text-decoration: underline; }
      .footer footer .links.legal {
        margin-top: 15px; }
        .footer footer .links.legal a {
          color: #49525d; }
    .footer footer .disabled {
      display: none; }
    .footer footer .copyright {
      color: #4C545E;
      display: block;
      font-family: "Verdana", sans-serif;
      font-size: 9px;
      margin-top: 15px; }

header {
  background-color: #6D5195;
  background-image: url("../../img/hero-marketplace-bg.jpg"); }
  header h2:before {
    display: block;
    height: 55px;
    overflow: hidden;
    text-indent: -9999px;
    white-space: nowrap;
    width: 72px;
    background-image: url("../../img/marketplace-icon.png"); }
    @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
      header h2:before {
        background-image: url("../../img/marketplace-icon@2x.png");
        -webkit-background-size: 72px 55px;
        -moz-background-size: 72px 55px;
        -o-background-size: 72px 55px;
        background-size: 72px 55px; } }

.overview {
  background-color: #6D5195;
  background-size: cover;
  background-position: center center;
  background-image: url("../../img/overview-marketplace-bg.jpg"); }
  .overview article h2 {
    width: 74.6478873239%;
    float: left;
    margin-right: 1.4084507042%;
    float: none;
    font-size: 54px;
    margin: 0 auto;
    margin-bottom: 25px; }
  .overview article p {
    width: 57.7464788732%;
    float: left;
    margin-right: 1.4084507042%;
    float: none;
    margin: 0 auto; }

.challenges {
  background-image: url("../../img/challenges-marketplace-bg.png"); }

.solution {
  background-image: url("../../img/marketplace-watermark.png"), linear-gradient(-168deg, #4C6677 0%, #293545 100%);
  background-position: 11% 130%; }
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .solution {
      background-image: url("../../img/marketplace-watermark@2x.png"), linear-gradient(-168deg, #4C6677 0%, #293545 100%);
      -webkit-background-size: 762px 762px, auto;
      -moz-background-size: 762px 762px, auto;
      -o-background-size: 762px 762px, auto;
      background-size: 762px 762px, auto; } }
  .solution article {
    width: 74.6478873239%;
    float: left;
    margin-right: 1.4084507042%;
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    float: none; }
    .solution article:after {
      content: " ";
      display: block;
      clear: both; }
    .solution article .how-it-works {
      background-image: url("../../img/solution-marketplace.png");
      height: 700px; }
      @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
        .solution article .how-it-works {
          background-image: url("../../img/solution-marketplace@2x.png");
          -webkit-background-size: 868px 600px;
          -moz-background-size: 868px 600px;
          -o-background-size: 868px 600px;
          background-size: 868px 600px; } }
      .solution article .how-it-works li:nth-child(1) {
        left: 68%;
        top: 16%; }
      .solution article .how-it-works li:nth-child(2) {
        left: 41%;
        top: 48%; }
      .solution article .how-it-works li:nth-child(3) {
        left: 15%;
        top: 79%; }
      .solution article .how-it-works li:nth-child(4) {
        left: 78%;
        top: 85%; }
    .solution article .advantages {
      width: 60.3773584906%;
      float: left;
      margin-right: 1.8867924528%; }
      .solution article .advantages h3 {
        font-size: 28px; }
    .solution article .get-started {
      width: 32.0754716981%;
      float: left;
      margin-right: 1.8867924528%;
      float: right;
      margin-right: 0; }

.many-use-cases article {
  width: 74.6478873239%;
  float: left;
  margin-right: 1.4084507042%;
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  float: none; }
  .many-use-cases article:after {
    content: " ";
    display: block;
    clear: both; }
  .many-use-cases article h2 {
    width: 77.358490566%;
    float: left;
    margin-right: 1.8867924528%;
    padding-right: 32px; }
