header {
  @extend %title;
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  font-size: 52px;
  margin-bottom: 0;
  padding-top: 120px;
  padding-bottom: 185px;
  position: relative;
  text-align: center;
  h1 {
    @include span(6);
    float: none;
    margin: 0 auto;
  }
  h1 a {
    @include image-replace('logo-inline', 'png', 150px, 26px);
    @include image-retina('logo-inline', 'png', 150px, 26px);
    float: none;
    left: 43px;
    position: absolute;
    top: 40px;
  }
  h2 {
    @include span(6);
    @extend %headline;
    float: none;
    font-size: 24px;
    font-weight: $font-weight-semibold;
    margin: 0 auto 20px;
    &:before {
      content: ".";
      margin: 0 auto 20px;
    }
  }
  p {
    @include span(7);
    float: none;
    margin: 0 auto;
    min-width: $break;
    text-transform: none;
  }
}