$susy: (
  columns: 12,
  gutters: 1/5,
  column-width: 100px,
  math: fluid,
);

//Transition
$transition-duration-default: .35s;
  
//Fonts
$font-family: 'Verdana', sans-serif;
$font-family-title: 'Open Sans Condensed', sans-serif;
$font-family-headline: 'Open Sans', sans-serif;

//Font Weights
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;

//Images
$img-path: '../../img/';

//Colors
$color-white-alabaster: #fafafa;
$color-white-catskillwhite: #EBEFF5;
$color-white-seashell: #F1F1F1;
$color-blue-bluedianne: #1F3543;
$color-blue-lynch: #677B96;
$color-blue-pigeonpost: #B0C3DD;
$color-blue-matisse: #177AA3;
$color-blue-chathamsblue: #135669;
$color-blue-poloblue: #95ADCD;
$color-blue-cadetblue: #A6B0BE;
$color-blue-sanmarino: #4C73A8;
$color-blue-palesky: #6B7888;
$color-blue-seagull: #7ABCE4;
$color-green-paradiso: #368D78;
$color-purple-butterflybush: #6D5195;
$color-orange-buttercup: #F4A018;
$color-orange-koromiko: #FFBD61;
$color-gray-dovegray: #646464;
$color-gray: #7F7F7F;
$color-gray-boulder: #797979;
$color-gray-riverbead: #414C5A;
$color-gray-ebonyclay: #242D38;
$color-gray-alto: #D8D8D8;
$color-gray-raven: #6D7A8A;
$color-gray-trout: #4C545E;
$color-gray-gullgray: #98A3B6;
$color-gray-shuttlegray: #535F6F;

//Screen Sizes
$break-micro: 320px; //iphone 5 portrait and wider
$break-mini: 375px; //iphone 6 portrait and wider
$break-tiny: 414px; //iphone 6+ portrait and wider
$break-little: 568px; //iphone 5 landscape and wider
$break-xsmall: 667px; //iphone 6 landscape and wider
$break-small: 736px; //iphone 6+ landscape and wider
$break: 768px; //ipad mini/air portrait and wider
$break-large: 1024px; //ipad pro portrait and wider or ipad mini/air landscape and wider
$break-huge: 1200px; //google nexus 7 2012 or wider
$break-massive: 1440px; //google nexus 7 2012 or wider

//Constrains
$container-min-width: 960px;


@mixin retina {
    @media
        only screen and (-webkit-min-device-pixel-ratio: 2),
        only screen and (min--moz-device-pixel-ratio: 2),
        only screen and (-o-min-device-pixel-ratio: 2/1),
        only screen and (min-device-pixel-ratio: 2),
        only screen and (min-resolution: 192dpi),
        only screen and (min-resolution: 2dppx) {
        @content;
    }
}

@mixin retina3x {
    @media 
        only screen and (-o-min-device-pixel-ratio: 9/4),
        only screen and (-webkit-min-device-pixel-ratio: 2.25),
        only screen and (min-device-pixel-ratio: 2.25),
        only screen and (min-resolution: 2.25dppx) {
        @content;
    }
}